<div id="ingenero">
	<mat-drawer-container class="example-container" autosize>
		<mat-drawer #drawer class="example-sidenav" mode="side" opened>
			<div
				*ngIf="!showFiller"
				fxLayout="column"
				fxLayoutAlign="center"
				class="sidenav-collapsed-content"
			>
				<ig-side-panel fxFlex="95%" view="false"></ig-side-panel>
				<div fxFlex class="collapse-container" (click)="collapseMenu()">
					<div class="inner-collapse-area">
						<button mat-icon-button aria-label="Expand">
							<mat-icon>arrow_forward_ios</mat-icon>
						</button>
					</div>
				</div>
			</div>

			<div
				*ngIf="showFiller"
				fxLayout="column"
				fxLayoutAlign="center"
				class="sidenav-expanded-content"
			>
				<ig-side-panel fxFlex="95%" view="true"></ig-side-panel>
				<div fxFlex class="collapse-container" (click)="collapseMenu()">
					<div class="inner-collapse-area">
						<button mat-icon-button aria-label="collapse">
							<mat-icon>arrow_back_ios</mat-icon>
						</button>
						<span>Collapse Menu</span>
					</div>
				</div>
			</div>
		</mat-drawer>
		<div
			fxLayout="row"
			fxLayoutAlign="start stretch"
			class="ingeneroLayout"
		>
			<router-outlet></router-outlet>
		</div>
		<div class="chartParent" *ngIf="viewChart" >
			<div [ngClass]="chartClass">
				<ig-chart [tagId]="tagId" [allCharts]="allCharts"></ig-chart>
			</div>
		</div>
	</mat-drawer-container>
</div>
