@import '../../assets/styles/theme.scss';
#ingenero {
	height: 100%;
	.ingeneroLayout {
		height: 100%;
		background-color: $profile-bg;
	}

	.example-container {
		position: relative;
		height: 100%;
		.example-sidenav {
			background-color: $side-panel-bg;
			.sidenav-collapsed-content {
				height: 100%;
				.collapse-container {
					width: 100%;
					border-top: 1px solid $profile-bg;
					cursor: pointer;

					.inner-collapse-area {
						padding: 5px 10px;
						display: flex;
						align-items: center;
					}
					&:hover {
						background: $home-header-bg;
					}
				}
			}
			.sidenav-expanded-content {
				height: 100%;
				.collapse-container {
					width: 100%;
					border-top: 1px solid $profile-bg;
					cursor: pointer;
					.inner-collapse-area {
						padding: 5px 10px;
						display: flex;
						align-items: center;
						span {
							font-size: 18px;
						}
					}
					&:hover {
						background: $home-header-bg;
					}
				}
			}
		}
		.chartParent {
			position: absolute;
			top: 0;
			.chartExpandSection {
				width: calc(100vw - 260px);
				height: calc(100vh - 140px);
				background: #0a0e14;
				margin: 65px 10px;
			}
			.chartCollapseSection {
				width: calc(100vw - 140px);
				height: calc(100vh - 140px);
				background: #0a0e14;
				margin: 65px 10px;
			}
		}
	}
}
