@import '../../../../assets/styles/theme.scss';

#header{
  height: 100%;
  background-image: $home-header-bg;
  span{
    color: #fff;
  }
  .header-container{
    height: 100%;
    .header-first{
      font-size: 35px;
    }
    .header-second{
      font-size: 15px;
    }
  }
}