@import '../../../../assets/styles/theme.scss';

#Profile{
  height: 100%;
  width: 100%;
  background-color: $profile-bg;
  span{
    color: #fff;
  }
  .profile-container{
    height: 100%;
    .profile-view{
      cursor: pointer;
      .profile-view-image{
        background: url(../../../../assets/images/user.svg) no-repeat center;
        background-size: contain;
        height: 65px;
        width: 65px;
      }
      .profile-details{
        span:nth-child(1){
          font-size: 13px;
        }
        span:nth-child(2){
          font-size: 18px;
        }
        span:nth-child(3){
          font-size: 13px;
          color: #056df0;
        }
      }
    }
    .profile-btns{
      button{
        color: white;
      }
    }
  }
}