<div id="Profile"> 
  <div fxLayout="row" fxLayoutAlign="center center" class="profile-container">
    <div fxFlex="75%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="profile-view">
      <div class="profile-view-image">
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" class="profile-details" *ngIf="view == 'true'">
        <span>Hi</span>
        <span>John Doe</span>
        <span>Engineer</span>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="5px" class="profile-btns" *ngIf="view == 'true'">
      <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</div>
