<h2 class="config-header">Configuration</h2>

<mat-tab-group #tabGroup mat-align-tabs="start">
	<form [formGroup]="config" *ngIf="configuration">
		<ng-container *ngFor="let tag of configuration | format: 'keys'">
			<mat-tab *ngIf="tag == 'performanceTags'" [label]="tag | format: 'title'">
				<div class="generic">
					<div *ngFor="let attribute of configuration[tag]" [formGroupName]="tag">
						<mat-form-field class="dropdown">
							<mat-select [formControlName]="attribute?.tag?.desc" (selectionChange)="
									updatePerformanceData($event)
								" placeholder="Select a value">
								<mat-option *ngFor="let value of performanceData" [value]="value?.desc">
									{{ value?.desc }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field class="dropdown">
							<mat-select [(value)]="attribute.performance" placeholder="Select a value">
								<mat-option *ngFor="let field of performanceDropdown" [value]="field.value">{{ field.label }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</mat-tab>
			<mat-tab [label]="tag | format: 'title'" *ngIf="
					tag == 'targetTags' ||
					tag == 'matchTags' ||
					tag == 'noiseTags'
				">
				<div class="table">
					<div class="tr th">
						<div class="td">
							{{ tag | format: 'title' }}
						</div>
						<ng-container *ngFor="let heading of columns[tag]">
							<div class="td" *ngIf="heading?.tag">
								<span class="checkbox-title">{{
									heading.tag
								}}</span>
								<mat-checkbox [ngModelOptions]="{ standalone: true }" [(ngModel)]="heading.selectAll" (change)="
										selectAll($event, tag, 'isActive')
									"></mat-checkbox>
							</div>
							<div class="td" *ngIf="!heading?.tag">
								{{ heading }}
							</div>
						</ng-container>
					</div>
					<ng-container *ngIf="configuration[tag].length; else noData">
						<div class="tr" [formGroupName]="tag" *ngFor="let attribute of configuration[tag]">
							<div class="td">
								<span>{{
									attribute?.tag?.desc | format: 'title'
								}}</span>
							</div>

							<ng-container [formGroupName]="attribute.tag.id" *ngFor="
									let property of attribute | format: 'keys'
								">
								<div class="td" style="justify-content: center;" *ngIf="property !== 'tag'">
									<mat-form-field class="tag-input" *ngIf="property !== 'isActive'">
										<input matInput [(ngModel)]="attribute[property]" [formControlName]="property" type="number" />
										<mat-error *ngIf="
												config.get(tag).get(attribute.tag.id.toString()).get(property).hasError('overLimit')
											">
											{{
												config.get(tag).get(attribute.tag.id.toString()).get(property)?.validationMsg
											}}
										</mat-error>
									</mat-form-field>
									<mat-checkbox *ngIf="property == 'isActive'" [formControlName]="property"
										[(ngModel)]="attribute[property]" (change)="setSelectAll()">
									</mat-checkbox>
								</div>
							</ng-container>
						</div>
					</ng-container>
				</div>
			</mat-tab>
		</ng-container>
	</form>
	<mat-tab label="Tag Mapping">
		<ig-tag-mapping (mapping)="getMappings($event)" [event]="notifySubject.asObservable()"></ig-tag-mapping>
	</mat-tab>
</mat-tab-group>
<div class="action-buttons">
	<button mat-button class="button" (click)="buttonClick('home')">
		Go Back
	</button>
	<button *ngIf="tabGroup.selectedIndex !== 0 && tabGroup.selectedIndex !== 4" mat-button class="button"
		(click)="resetToDefault()">
		Reset To Default
	</button>
	<button mat-button class="submit-button" [disabled]="!config?.valid" (click)="buttonClick('submit')">
		Submit
	</button>
</div>
<ng-template #noData>
	<div class="no-data">
		<button mat-button class="add-btn" (click)="buttonClick('mapping')">
			Add Tags
		</button>
	</div>
</ng-template>