:host {
	color: white;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.config-header{
	font-size: 25px;
}

mat-tab-group {
	height: 85%;
}

::ng-deep .mat-paginator {
	background-color: #0a0e14;
}

::ng-deep .snack-bar-success {
	background-color: green;
	color: #ffffff;
	font-weight: 500;
}

::ng-deep .snack-bar-error {
	background-color: rgb(235, 44, 44);
	color: #ffffff;
	font-weight: 500;
}

.generic {
	margin-top: 10px;
}

.action-buttons {
	display: flex;
	justify-content: flex-end;
}

.button {
	background-color: #1f2533;
	margin: 10px;
}
.submit-button{
	background-color: #0068e9;
	margin: 10px;
}

::ng-deep .tag-input .mat-form-field-underline {
	background-color: rgba(0, 0, 0, 0.42);
	display: none;
}

::ng-deep .tag-input .mat-form-field-wrapper .mat-form-field-flex {
	height: 0;
}

input.mat-input-element {
	border: 2px solid white;
	padding: 10px;
	border-radius: 10px;
}

.mat-form-field {
	width: 80%;
	border-radius: 0.5%;
}

.dropdown {
	margin: 5px;
	width: 30%;
}

.no-data {
	display: flex;
	justify-content: center;
	font-weight: 500;
	height: 100px;
	align-items: center;
}

.add-btn {
	background-color: #0c0f1a;
}
