@import "../../../assets/styles/theme.scss";
#chart {
  height: 100%;
  .chart-container {
    color: #000;
    height: 100%;
    z-index: 999;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 5px 5px -3px rgba(0, 0, 0, 0.2);
    .chart-header {
      padding: 0 10px;
      background-color: #44506b;
      border-radius: 5px;
      p {
        margin: 0;
        color: #fff;
        font-size: 20px;
      }
      button {
        color: #fff;
      }
      border-bottom: 1px solid #282b35;
      .border-class {
        height: 40px;
        border-left: 1px solid #fff;
      }
      .dropdown {
        font-size: 11px;
      }
      ::ng-deep .mat-form-field {
        .mat-form-field-wrapper {
          padding: 0 !important;
          margin: 0 !important;
        }
      }
      .chart-icons {
        .big-icon {
          font-size: 30px;
          height: 30px;
          width: 30px;
          line-height: 30px;
        }
        .icon-divider {
          border-right: 1px solid #fff;
        }
      }
    }
    .chart-view {
      background-color: #fff;
      position: relative;
      border-radius: 5px;
      .chart-wrapper-with-All {
        cursor: pointer;
        margin: 15px 10px 0 10px;
        width: calc(100vw - 400px) !important;
        height: calc(100vh - 400px) !important;
        span {
          font-size: 25px;
        }
        .active-chart-name{
          .edit-axes{
            input{
              padding: 4px;
              border: 1px solid;
              border-radius: 4px;
            }
            .edit-axes-span{
              font-size: 18px;
            }
          }
          .circle-div{
            height: 10px;
            width: 10px;
            border-radius: 50px;
          }
          margin-bottom: 5px;
        }
      }
      .chart-wrapper-without-All {
        cursor: pointer;
        margin: 15px 10px 0 10px;
        width: calc(100vw - 400px) !important;
        span {
          font-size: 15px;
        }
        .active-chart-name{
          .edit-axes{
            input{
              padding: 4px;
              border: 1px solid;
              border-radius: 4px;
            }
            .edit-axes-span{
              font-size: 18px;
            }
          }
          .circle-div{
            height: 10px;
            width: 10px;
            border-radius: 50px;
          }
          margin-bottom: 5px;
        }
      }
      .value-toggle {
        border-left: 1px solid;
        padding: 20px;
      }

      .spinner-container {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .all-chart-view {
        position: absolute;
        top: 0;
        border: 1px solid;
        width: 100%;
        z-index: 9999;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        overflow: auto;
        .all-chart-wrapper {
          padding-top: 5px;
          border-right: 1px solid #000;
          height: 100%;
          .chart-names {
            position: relative;
            cursor: pointer;
            padding-left: 10px;
            border-top: 1px solid #dedede;
            button {
              margin-right: 20px;
            }
            .icon-divider {
              height: 100%;
              border-right: 1px solid #faf9f9;
            }
            span {
              font-size: 17px;
            }
            .view-overlay {
              position: absolute;
              display: none !important;
              height: 100%;
              width: 100%;
              left: 0;
              background: #00000012;
            }
            &:hover {
              .view-overlay {
                position: absolute;
                height: 100%;
                display: block !important;
                width: 100%;
                left: 0;
                background: #00000012;
                .inner-view-overlay{
                  width: 100%;
                  height: 100%;
                }
              }
              span {
                opacity: 0.2;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}
