<mat-form-field>
	<mat-label>Search</mat-label>
	<input matInput [formControl]="search" type="text" />
	<button
		*ngIf="search.value"
		mat-button
		matSuffix
		mat-icon-button
		aria-label="Clear"
	>
		<mat-icon (click)="search.reset('')">close</mat-icon>
	</button>
</mat-form-field>
<form class="mapping" [formGroup]="mappingForm">
	<div class="table">
		<div class="tr th">
			<div class="td">
				Tags
			</div>
			<div class="td" *ngFor="let parent of masterTags">
				<span class="checkbox-title">{{ parent.label }}</span>
			</div>
		</div>
		<div class="tr" *ngFor="let mapping of filteredData">
			<div class="td" style="justify-content: center;">
				{{ mapping.desc }}
			</div>
			<mat-radio-group
				class="radio-group"
				[formControlName]="mapping.id"
				aria-label="Select an option"
			>
				<div
					class="td"
					style="justify-content: center;"
					*ngFor="let parent of masterTags"
				>
					<mat-radio-button
						#button
						(click)="deSelect($event, button, mapping.id)"
						[value]="parent.value"
					></mat-radio-button>
				</div>
			</mat-radio-group>
		</div>
	</div>
</form>
<mat-paginator
	#paginator
	(page)="setPagination()"
	[length]="totalCount"
	[(pageSize)]="pageSize"
	[pageSizeOptions]="[10, 25, 100]"
></mat-paginator>
