
$profile-bg: #0a0e14;
$side-panel-bg : #1f2533;
$home-header-bg: linear-gradient(#2f3540, #252831);
$benchmark-view-bg:#0c0f1a;
$expansion-panel-bg: linear-gradient(#2f3540, #252831);

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #596c98;
}