<div id="side-panel" fxLayout="column" fxLayoutAlign="start stretch">
  <ig-profile fxFlex="20%" [view]=view></ig-profile>
  <div fxFlex>
    <div class="side-container" *ngIf="view == 'true'">
      <mat-accordion [togglePosition]="'before'" multi >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              System Overview
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Equipments
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reporting
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Benchmarking
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>