/* You can add global styles to this file, and also import other style files */

@import './assets/styles/theme.scss';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;

	background-color: $benchmark-view-bg;
}

.table {
	display: flex;
	flex-flow: column nowrap;
	border: 1px solid #d0d0d0;
	flex: 1 1 auto;
	background-color: #1f2533;
}

.th {
	display: none;
}

.th > .td {
	white-space: normal;
	justify-content: center;
}

.tr {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	padding-bottom: 5px;
}

.td {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	flex-basis: 0;
	padding: 0.7em;
	min-width: 0px;
	border-top: 1px solid #d0d0d0;
	align-items: center;
}

.checkbox-title {
	padding: 0 5px;
}
