<div id="home" fxLayout="column" fxLayoutAlign="start stretch">
  <ig-header fxFlex="10%" [viewTime]="currentTimeStamp" [event]="headerNotifySubject.asObservable()"></ig-header>
  <div id="benchmarking" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxFlex="60%" class="boiler-container">
      <div class="boiler-background">
        <ig-benchmarking fxFlex [allData]="allData" [diagramTags]="diagramTags"
          [event]="BenchMarkNotifySubject.asObservable()"></ig-benchmarking>
      </div>
    </div>
    <ig-tags fxFlex [allData]="allData" [viewTime]="historicTimeStamp"
      [event]="rightPanTagsNotifySubject.asObservable()"></ig-tags>
      <div *ngIf="loadingHistory || loadingCurrent" class="div-overlay">
        <div class="inner-class">
          <mat-spinner class="spinner-container" ></mat-spinner>
        </div>
      </div>
  </div>
</div>